{
 ;;Confluence is a random name for the profile other than your default one
 ;;to avoid interference of your ordinary usage of Chrome
 :chrome-profile "/Users/dc/Library/Application Support/Google/Chrome/Profile 2/Confluence"

 :card-suites {:heart "♥️" 
          :spade "♠️"
          :club "♣️" 
          :diamond "♦️"}
 ;";
 }
